@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
    }
    .forecast {
        margin: 10px;
    }
    header img {
        width: 120px;
        height: 100px;
    }
    nav {
        text-align: center;
    }
    .navigation li {
        display: inline;
    }
    .navigation li a {
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation li a:hover {
        background-color: #ddd;
    }

    figure img {
        width: 100%;
    }
}
